*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
img{
	max-width:900px;
	height:auto;
	width:90%;
	display:block;
	margin:auto;
}
h1{
	color:gray;
	font-size: 50px;
	text-align:center; 
	padding-bottom: 30px;
	font-family: helvetica;
}
p{
	color:black;
	font-size:20px;
	margin:25px;
	font-family: helvetica;
	line-height: 1.70;

}
div{
	width:60%;
	margin:auto;
	background-color: #fff; 
	box-shadow: 0 0 30px 1px rgba(0,0,0,0.2);
}
body{
	background-color: #eeeeee;


}
a{
	display:inline-block;
	border-bottom:1px solid transparent;
	transition:0.5s ease-in;
	margin:20px;
	color:tomato;
	text-decoration: none;
	display:inline-block;
	font-size:20px;


}
a:hover{
	border-bottom-color:#929aab;
}